@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 0;
}

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}